DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tfxzella"
AUTH_SECRET="replace-with-at-least-32-random-characters"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
EMAIL_FROM="TFXZella <noreply@example.com>"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
